In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [4]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
student_data['school_name'].value_counts()
# school_data_complete.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [6]:
#Calculate the total number of schools
NumberOfSchools = len(school_data['school_name'])

#Calculate the total number of students
NumberOfStudents = len(student_data['student_name'])

#Calculate the total budget
TotalBudget = school_data['budget'].sum()

#Calculate the average math score
AverageMath = student_data['math_score'].sum() / NumberOfStudents

#Calculate the average reading score
AverageReading = student_data['reading_score'].sum() / NumberOfStudents

#Calculate the overall passing rate (overall average score),  i.e. (avg. math score + avg. reading score)/2
OverallAverage = [(student_data["math_score"].mean()+student_data["reading_score"].mean())/2]

#Calculate the percentage of students with a passing math score (70 or greater)
StudentsPassingMath = len(student_data[student_data['math_score'] >= 70])
PercentPassingMath = 100 * StudentsPassingMath / NumberOfStudents

#Calculate the percentage of students with a passing reading score (70 or greater)
StudentsPassingReading = len(student_data[student_data['reading_score'] >= 70])
PercentPassingReading = 100 * StudentsPassingReading / NumberOfStudents

#Create a dataframe to hold the above results
DistrictSummaryDF = pd.DataFrame({'Total Schools':NumberOfSchools,
                                  'Total Students':NumberOfStudents,
                                  'Total Budget':TotalBudget,
                                  'Average Math Score':AverageMath,
                                  'Average Reading Score':AverageReading,
                                  '% Passing Math':PercentPassingMath,
                                  '% Passing Reading':PercentPassingReading,
                                  '% Overall Passing Rate':OverallAverage})

#Optional: give the displayed data cleaner formatting
DistrictSummaryDF["Total Students"] = DistrictSummaryDF["Total Students"].map("{:,}".format)
DistrictSummaryDF['Total Budget'] = DistrictSummaryDF['Total Budget'].map("${:,.2f}".format)
DistrictSummaryDF['% Passing Math'] = DistrictSummaryDF['% Passing Math'].map("{:.6f}%".format)
DistrictSummaryDF['% Passing Reading'] = DistrictSummaryDF['% Passing Reading'].map("{:.6f}%".format)
DistrictSummaryDF['% Overall Passing Rate'] = DistrictSummaryDF['% Overall Passing Rate'].map("{:.6f}%".format)

DistrictSummaryDF

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853%,85.805463%,80.431606%

In [7]:
#School Summary Dataframe

#School Name
schools = list(school_data['school_name'])

schooltypes = []
StudentsPerSchool = []
Budgets = []
PerStudentBudgets = []
MathMeans = []
ReadingMeans = []
PercentMaths = []
PercentReadings = []
OverallRates = []

for school in schools:
    #School Type
    schooltypes.append(school_data.loc[school_data['school_name'] == school, 'type'].iloc[0])
    
    #Total Students
    StudentCount = len(student_data[student_data['school_name'] == school])
    StudentsPerSchool.append(StudentCount)
    
    #Total School Budget
    Budget = school_data.loc[school_data['school_name'] == school, 'budget'].iloc[0]
    Budgets.append(Budget)
    
    #Per Student Budget
    PerStudentBudgets.append(Budget / StudentCount)
    
    #Average Math Score
    MathMean = student_data.loc[student_data['school_name'] == school, 'math_score'].mean()
    MathMeans.append(MathMean)
    
    #Average Reading Score
    ReadingMean = student_data.loc[student_data['school_name'] == school, 'reading_score'].mean()
    ReadingMeans.append(ReadingMean)
    
    #% Passing Math
    PassingMathList = student_data.loc[(student_data['school_name'] == school) & (student_data['math_score'] >= 70), 'math_score']
    PercentMath = len(PassingMathList) * 100 / StudentCount
    PercentMaths.append(PercentMath)
    
    #% Passing Reading
    PassingReadingList = student_data.loc[(student_data['school_name'] == school) & (student_data['reading_score'] >= 70), 'reading_score']
    PercentReading = len(PassingReadingList) * 100 / StudentCount
    PercentReadings.append(PercentReading)
    
    #% Overall Passing Rate
    OverallRate = (PercentMath + PercentReading) / 2
    OverallRates.append(OverallRate)

SchoolSummaryDF = pd.DataFrame({'School Name': schools,
                                'Type': schooltypes,
                                'Total Students': StudentsPerSchool,
                                'Total School Budget': Budgets,
                                'Per Student Budget': PerStudentBudgets,
                                'Average Math Score': MathMeans,
                                'Average Reading Score': ReadingMeans,
                                '% Passing Math': PercentMaths,
                                '% Passing Reading': PercentReadings,
                                '% Overall Passing Rate': OverallRates})

SchoolSummaryDF['Total School Budget'] = SchoolSummaryDF['Total School Budget'].map("${:,.2f}".format)
SchoolSummaryDF['Per Student Budget'] = SchoolSummaryDF['Per Student Budget'].map("${:.2f}".format)
SchoolSummaryDF['Average Math Score'] = SchoolSummaryDF['Average Math Score'].map("{:.6f}".format)
SchoolSummaryDF['Average Reading Score'] = SchoolSummaryDF['Average Reading Score'].map("{:.6f}".format)
SchoolSummaryDF['% Passing Math'] = SchoolSummaryDF['% Passing Math'].map("{:.6f}%".format)
SchoolSummaryDF['% Passing Reading'] = SchoolSummaryDF['% Passing Reading'].map("{:.6f}%".format)
SchoolSummaryDF['% Overall Passing Rate'] = SchoolSummaryDF['% Overall Passing Rate'].map("{:.6f}%".format)
SchoolSummaryDF.head()

,School Name,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922%,81.316421%,73.500171%
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471%,80.739234%,73.363852%
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121%,95.854628%,94.860875%
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967%,80.862999%,73.807983%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371%,97.138965%,95.265668%

In [8]:
#Sort and display the top five schools in overall passing rate
TopSchoolsDF = SchoolSummaryDF.sort_values('% Overall Passing Rate', ascending=False).head()
TopSchoolsDF


TopSchoolsDF = TopSchoolsDF.set_index("School Name")
TopSchoolsDF.index.name = None
TopSchoolsDF

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477%,97.039828%,95.586652%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171%,97.308869%,95.290520%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595%,95.945946%,95.270270%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371%,97.138965%,95.265668%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718%,96.539641%,95.203679%

In [9]:
#Sort and display the five worst-performing schools
WorstSchoolsDF = SchoolSummaryDF.sort_values('% Overall Passing Rate', ascending=True).head()
WorstSchoolsDF

WorstSchoolsDF = WorstSchoolsDF.set_index("School Name")
WorstSchoolsDF.index.name = None
WorstSchoolsDF

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592%,80.220055%,73.293323%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471%,80.739234%,73.363852%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922%,81.316421%,73.500171%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551%,81.222432%,73.639992%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602%,79.299014%,73.804308%

In [10]:
#creates table of average math scores for each school by grade 
ninth_math = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenth_math = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventh_math = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelfth_math = student_data.loc[student_data["grade"] == '12th'].groupby("school_name")["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math})


math_scores.index.name = (None)


math_scores["9th"] = math_scores["9th"].map("{:.6f}".format)
math_scores["10th"] = math_scores["10th"].map("{:.6f}".format)
math_scores["11th"] = math_scores["11th"].map("{:.6f}".format)
math_scores["12th"] = math_scores["12th"].map("{:.6f}".format)

math_scores

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [11]:
#creates table of average reading scores for each school by grade 
ninth_reading = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenth_reading = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleventh_reading = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelfth_reading = student_data.loc[student_data["grade"] == '12th'].groupby("school_name")["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading})

reading_scores.index.name = (None)


reading_scores["9th"] = reading_scores["9th"].map("{:.6f}".format)
reading_scores["10th"] = reading_scores["10th"].map("{:.6f}".format)
reading_scores["11th"] = reading_scores["11th"].map("{:.6f}".format)
reading_scores["12th"] = reading_scores["12th"].map("{:.6f}".format)

reading_scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [12]:
# Create bins
spending_bins = [0, 585, 615, 645, 675]

#Create labels for bins
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Slice the data and place it into bins
school_data_complete["spending_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], spending_bins, labels = group_names)

# Create a GroupBy object based upon spending
spending_group = school_data_complete.groupby("spending_bins")


#Creates table of school spending
avg_math = spending_group["math_score"].mean()
avg_reading = spending_group["reading_score"].mean()
spending_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("spending_bins")["student_name"].count()/spending_group["student_name"].count() *100
spending_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("spending_bins")["student_name"].count()/spending_group["student_name"].count() *100
overall = (spending_passing_math + spending_passing_reading) / 2
      
    
school_spending = pd.DataFrame({
      "Average Math Score": avg_math,
      "Average Reading Score": avg_reading,
      "% Passing Math": spending_passing_math,
      "% Passing Reading": spending_passing_reading,
      "% Overall Passing Rate": overall})

school_spending = school_spending.rename_axis("Spending Ranges (Per Student)")

school_spending["Average Math Score"] = school_spending["Average Math Score"].map("{:.6f}".format)
school_spending["Average Reading Score"] = school_spending["Average Reading Score"].map("{:.6f}".format)
school_spending["% Passing Math"] = school_spending["% Passing Math"].map("{:.6f}".format)
school_spending["% Passing Reading"] = school_spending["% Passing Reading"].map("{:.6f}".format)
school_spending["% Overall Passing Rate"] = school_spending["% Overall Passing Rate"].map("{:.6f}".format)

school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,93.702889,96.686558,95.194724
$585-615,83.529196,83.838414,94.124128,95.886889,95.005509
$615-645,78.061635,81.434088,71.400428,83.614770,77.507599
$645-675,77.049297,81.005604,66.230813,81.109397,73.670105

In [13]:
# Create bins
size_bins = [0, 1000, 2000, 5000]

#Create labels for bins
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"] 

# Slice the data and place it into bins
school_data_complete["size_bins"] = pd.cut(school_data_complete["size"], size_bins, labels = group_names)

# Create a GroupBy object based upon spending
size_group = school_data_complete.groupby("size_bins")

size_group.head()

#Creates table of school size
avg_math2 = size_group["math_score"].mean()
avg_reading2 = size_group["reading_score"].mean()
size_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("size_bins")["student_name"].count()/size_group["student_name"].count() *100
size_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("size_bins")["student_name"].count()/size_group["student_name"].count() *100
overall2 = (size_passing_math + size_passing_reading) / 2
      
    
school_size = pd.DataFrame({
      "Average Math Score": avg_math2,
      "Average Reading Score": avg_reading2,
      "% Passing Math": size_passing_math,
      "% Passing Reading": size_passing_reading,
      "% Overall Passing Rate": overall2})

school_size = school_size.rename_axis("School Size")

school_size["Average Math Score"] = school_size["Average Math Score"].map("{:.6f}".format)
school_size["Average Reading Score"] = school_size["Average Reading Score"].map("{:.6f}".format)
school_size["% Passing Math"] = school_size["% Passing Math"].map("{:.6f}".format)
school_size["% Passing Reading"] = school_size["% Passing Reading"].map("{:.6f}".format)
school_size["% Overall Passing Rate"] = school_size["% Overall Passing Rate"].map("{:.6f}".format)

school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769